body{
    padding: 0;
    margin: 0;
}

/* .main, .secondPage, .thirdPage, .fourthPage, .fifthPage {
    position: relative; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
} */

/* background images */

.main{
    background-image: url("./assets/./57154218_10213530957972632_2165636756773273600_1.jpg");
    position: relative; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
}

.secondPage{
    background-image: url("./assets/./57154218_10213530957972632_2165636756773273600_2.jpg");
    position: relative; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;  
}

.thirdPage{
    background-image: url("./assets/./57154218_10213530957972632_2165636756773273600_3.jpg");
    position: relative; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
}

.fourthPage{
    background-image: url("./assets/./57154218_10213530957972632_2165636756773273600_4.jpg");
    position: relative; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
}

.fifthPage{
    background-image: url("./assets/./57154218_10213530957972632_2165636756773273600_5.jpg");
    position: relative; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
}


/* sections */
/* .one{
    height: 100px;
    text-align: center;
}

.two{
    height: 100px;
    text-align: center;
}


.three{
    height: 100px;
    text-align: center;
}

.four{
    height: 100px;
    text-align: center;
} */

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

